<div class="container mt-4">

  <h2 class="mb-4 titulo">Registrar Cita Médica 🐾</h2>

  <div *ngIf="mensajeExito" class="alert alert-success text-center">
    {{ mensajeExito }}
  </div>

  <form [formGroup]="citaForm" (ngSubmit)="registrarCita()" class="card p-4 sombra">

    <div class="row g-3">

      <div class="col-md-6">
        <label class="form-label">Nombre de la Mascota</label>
        <input type="text" class="form-control" formControlName="nombreMascota">
      </div>

      <div class="col-md-6">
        <label class="form-label">Nombre del Dueño</label>
        <input type="text" class="form-control" formControlName="nombreDueno">
      </div>

      <div class="col-md-6">
        <label class="form-label">Teléfono</label>
        <input type="text" class="form-control" formControlName="telefono">
      </div>

      <div class="col-md-6">
        <label class="form-label">Especie</label>
        <select class="form-select" formControlName="especie">
          <option value="">Seleccione...</option>
          <option>Perro</option>
          <option>Gato</option>
          <option>Hamster</option>
          <option>Ave</option>
          <option>Otro</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Fecha</label>
        <input type="date" class="form-control" formControlName="fecha">
      </div>

      <div class="col-md-6">
        <label class="form-label">Hora</label>
        <input type="time" class="form-control" formControlName="hora">
      </div>

      <div class="col-12">
        <label class="form-label">Motivo de la Cita</label>
        <textarea class="form-control" rows="3" formControlName="motivo"></textarea>
      </div>

    </div>

    <button class="btn btn-primary btn-lg w-100 mt-4" type="submit">
      Registrar Cita
    </button>

  </form>

</div>
